@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --logo: 198 100% 50%;
    --primary: 195 59% 58%;
    --secondary: 138 47% 38%;
    --tertiary: 18 74% 56%;
  }
}
